
/*top line formatting*/
header{
  text-align: center;
  font-variant: small-caps;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-right-width: 8pt;
  border-top-width: 1px;
  border-bottom-width:1px;
  padding: 7px;
}

/*Press contact information placed on right + first line adjusted to bold*/
aside{
  float: right;
  text-align: right;
  width: 250px; 
  margin-left: 20px;
  padding-right: 5px;
  padding-top: 5px;
  border-right-style: solid;
  border-right-width: 10px;
  border-right-color: rgb(69, 146, 148);
}
aside::first-line{
  font-weight: bold;
}

/*Main header font size adjustment */
h1{
  font-size: 2.7em;
}

/*adding image to only be the background for the article section*/
article{
    background-image:url(widgetcologo.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;

}

/* formatting the paragraphs and h2 together with a flex box */
article p {
  clear: both;
  max-width: 800px;
  margin: 5% auto;       
  padding-bottom: 20px;
  text-align: justify;    
}

article h2 {
  clear: both;
  max-width: 800px;
  margin: 5% auto;
  text-align: center;    
}

article a:link{
    font-weight: bold;
}

/*aligning h2 to center*/
h2{
  text-align: center;
}

/*adding styling to the bordered section at the bottom*/
section{
  border-style: solid;
  border-left-width: 20px;
  border-color: rgb(69, 146, 148);
  background: rgb(69, 146, 148,0.7);
  max-width: 760px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: justify;
  padding: 10px;
}

/*footer formatting including link specifc adjustment*/
footer{
  border-top-style: solid;
  border-color: black;
  border-width: 1px;
  justify-content: right;
  padding:10px;
  text-align: right;
  font-style: italic;
  color: #808080;
}

footer a:link{
  color:#808080;
}