
/*top line formatting*/
header{
  text-align: center;
  font-variant: small-caps;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 7px;
}

/*Press contact information placed on right + first line adjusted to bold*/
aside{
  float: right;
  text-align: right;
  width: 250px; 
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 7px;
}
aside::first-line{
  font-weight: bold;
}

/*Main header font size adjustment */
h1{
  font-size: 2.7em;
}

/*adding image to only be the background for the article section*/
article{
    background-image:url(widgetcologo.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;

}

/* formatting the paragraphs and h2 together with a flex box */
article p, h2{
  clear: both;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 20px;
}

article a:link{
    font-weight: bold;
}

/*aligning h2 to center*/
h2{
  text-align: center;
}

/*adding styling to the bordered section at the bottom*/
section{
  border-style: solid;
  border-left-width: 20px;
  border-color: green;
  background: #00800033;
  max-width: 760px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: justify;
  padding: 10px;
}

/*footer formatting including link specifc adjustment*/
footer{
  border-top-style: solid;
  border-color: black;
  border-width: 1px;
  justify-content: right;
  padding:10px;
  text-align: right;
  font-style: italic;
  color: #808080;
}

footer a:link{
  color:#808080;
}